{% extends "rfq/layout.html" %}

{%block body%}
<div class="container">
    <h2 class="m-3">Add Supplier</h2>
    <div class="form-supplier border p-3">
        <form action="{% url 'supplierForm' %}" method="post" >
            {% csrf_token %}
            <div class="form-group mb-4">
                <label for="supplier-name">Supplier's Name</label>
                <input type="text" class="form-control" id="supplier-name" name="supplier-name" placeholder="Name">
            </div>
            <div id="location">
                <fieldset class=" form-group row">
                    <legend class="ml-3">Location</legend>
                    <div class="form-group col-md-4">
                        <label for="zone">Zone</label>
                        <select name="zone" id="zone" class="form-control">
                            <option value="1">Zone 1: Industrial Area</option>
                            <option value="2">Zone 2: Industrial Area - Shams</option>
                            <option value="3">Zone 3: Town</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-sm-6">
                        <label for="road">Road</label>
                        <select name="road" id="road" class="form-control">
                            <option value="1">Dae Es Salaam</option>
                            <option value="2">Baricho</option>
                            <option value="3">Enterprise</option>
                            <option value="4">Lithuli</option>
                            <option value="5">River Road - Upper</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-sm-6">
                        <label for="building">Building</label>
                        <select name="building" id="building" class="form-control">
                            <option value="1">Dae Es Salaam</option>
                            <option value="2">Baricho</option>
                            <option value="3">Enterprise</option>
                            <option value="4">Lithuli</option>
                            <option value="5">River Road - Upper</option>
                            <option value="6">Nyama Kima</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="form-group mb-4 col">
                    <label for="postal-address">Postal Address</label>
                    <input type="text" class="form-control" id="postal-address" name="postal-address" placeholder="P.O BOX 0000-000">
                </div>
                <div class="form-group mb-4 col">
                    <label for="phone-number">Phone Number</label>
                    <input type="number" class="form-control" id="phone-number" name="phone-number" placeholder="07000000">
                </div>
            </div>
            <div class="form-group mb-4 col-md-6">
                <label for="email-address">Email Address</label>
                <input type="text" class="form-control" id="email-address" name="email-address" placeholder="Email Address">
            </div>

            <div class="form-group mb-4 col-md-6">
                <input type="submit" class="btn btn-outline-primary" value="Submit">
            </div>
        </form>
    </div>
    <div class="p-3">
        <div class="mb-3">
            <button class="btn btn-outline-primary btn-lg btn-block">Add Contact Person(s)</button>
        </div>
        <div>
            <button class="btn btn-outline-primary btn-lg btn-block">Add Products Supplied by Supplier</button>
        </div>
    </div>

    <div id="product-form" class="my-4">
        <form class="row" action="{% url 'productForm' %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3 col-md-6">
                <div class="input-group-prepend">
                  <div class="input-group-text">Category</div>
                </div>
                <select name="category" id="category" class="form-control">
                    <option value="1">ICT</option>
                    <option value="2">Electrical</option>
                    <option value="3">Plumbing</option>
                    <option value="4">MVM</option>
                    <option value="5">Hairdressing</option>
                    <option value="6">Woodwork</option>
                    <option value="7">Masonry</option>
                </select>
            </div>
            <div class="input-group mb-2 col-md-6">
                <div class="input-group-prepend">
                  <div class="input-group-text">Name</div>
                </div>
                <input type="text" class="form-control" id="product-name" name="product-name" placeholder="Product Name">
            </div>
            <div class="input-group mb-2 col-md-6">
                <div class="input-group-prepend">
                  <div class="input-group-text">Brand</div>
                </div>
                <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">
            </div>

            <div class="input-group mb-2 col-md-6">
                <div class="input-group-prepend">
                  <div class="input-group-text">Price</div>
                </div>
                <input type="number" class="form-control" name="product-price" id="product-price" placeholder="Product Price">
            </div>

            <div class="input-group mb-3 col-md-6">
                <div class="input-group-prepend">
                  <div class="input-group-text">Supplier</div>
                </div>
                <select name="supplierP" id="supplierP" class="form-control">
                    <option value="1">Supplier 1</option>
                </select>
            </div>
            
            <div class="input-group mb-2 col-md-6">
                <div class="input-group-prepend">
                  <div class="input-group-text">Size</div>
                </div>
                <input type="number" class="form-control" id="size" name="size" placeholder="Box-Size">
            </div>

            <div class="input-group mb-2 col-md-6">
                <div class="input-group-prepend">
                  <div class="input-group-text">Weight</div>
                </div>
                <input type="number" class="form-control" name="weight" id="weight" placeholder="Weight in kg">
            </div>

            <div class="input-group mb-2 col">
                <div class="input-group-prepend">
                  <div class="input-group-text">Description</div>
                </div>
                <input type="text" class="form-control" name="description" id="description" placeholder="Product Description">
            </div>

            <div class="form-group mb-4 col-md-6">
                <input type="submit" class="btn btn-outline-primary" value="Submit">
            </div>
        </form>
    </div>
</div>
{%endblock%}