{% extends "rfq/layout.html" %}

{%block body%}
<div class="container">
    <div class="my-3 row pb-3 border-bottom">
        <h2 class="col col-md-4">Product List</h2>
        <div class="dropdown">
          <button class="dropbtn btn btn-info ">Choose Category</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
    </div>
    <div class="row pb-3 border-bottom">
      <h4 class="text-muted col-md">Category: All</h4>
      <h5 class="text-muted col-md">Showing: Top Price</h5>
      <h5 class="text-muted col-md">Mode: Browsing</h5>
    </div>

    <div class="row justify-content-between mx-0 mt-2">
      <p class="link" id="rfqMode">Check Items to add to rfq</p>
      <p class="link addProduct" id="browsingMode"> Add Product</p>
    </div>

    <div id="productForm">

    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr onclick="window.location='product/{{product.id}}'" id="{{product.id}}">
                <th scope="row" class="rowCounter"></th>
                <td>{{product.nameP}}</td>
                <td>{{product.category}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}