{% extends "rfq/layout.html" %}

{%block body%}
<div class="container ">
    <div class="row justify-content-between border-bottom mt-4 pb-3">
        <div id="name">
            <h2>{{sdetails.supplierName}}</h2>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-outline-primary btn-sm mr-2">Update</button>
            <button class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
    </div>

    <div id="supplierDetails" class="row mt-3 pb-3 border-bottom">
        <div class="col-md-6">
            <p class="mb-0">{{sdetails.zone}} <span class="text-info">{{sdetails.road}}</span> </p>
            <p class="mb-0">P.O BOX {{sdetails.postal}}</p>
        </div>
        <div class="col-md-6">
            <p class="mb-0">Phone: <span class="text-info">{{sdetails.phoneNumber}}</span></p>
            <p class="mb-0">Email: <span class="text-info">{{sdetails.emailSupplier}}</span></p>
        </div>
    </div>

    <div id="sContacts" class="mt-2 border-bottom pb-2"> 
        <div class="row">
            <div class="col">
                <p class="link">Supplier Contact Persons</p>
                <p class="link" hidden>Show Contact Persons</p>
            </div>

            <div class="col ">
                <p class="link float-right">Add Contact Persons</p>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Position</th>
                    <th scope="col" >Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for contact in contacts%}
                    <tr>
                        <th scope="row">{{contact.id}}</th>
                        <td>{{contact.name}}</td>
                        <td>{{contact.pNumber}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.position}}</td>
                        <td class="text-center"><button class="btm btn-danger btn-sm">X</button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <div class="mr-1">
                <p class="link float-right" >Hide Contacts</p>
            </div>
        </div>
    </div>

    <div id="sProducts" class="mt-2 border-bottom pb-2">
        <div>
            <p class="link">Products Supplied</p>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Product</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Description</th>
                    <th scope="col" >Price</th>
                    <th scope="col" >Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.category}}</td>
                        <td>{{product.nameP}}</td>
                        <td>{{product.brand}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td class="text-center"><button class="btm btn-danger btn-sm">X</button></td>
                        <td class="text-center" hidden><button class="btm btn-success btn-sm">Add</button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        
        <div id="productList">
            {% for product in products %}
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start ">
                    <div class="row align-items-center ml-0">
                        <h2 class="mr-2">{{product.nameP}}</h2>
                        <h2 class="text-info">Price:{{product.price}} </h2>
                    </div>
                    <div class="row ml-0">
                        <p class="text-muted mr-3">Category: <a href="">{{product.category}}</a> </p>
                        <p class="text-muted">Brand: <a href="">{{product.brand}}</a> </p>
                    </div>
                    <p class="mb-1"> {{product.description}} </p>
                    <small class="link text-danger">Delete Product</small>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}