{% extends "rfq/layout.html" %}

{%block body%}
<div class="container ">
    <div class="row justify-content-between border-bottom mt-4 pb-3">
        <div id="name">
            <h2>{{sdetails.supplierName}}</h2>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-outline-primary btn-sm mr-2">Update</button>
            <button class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
    </div>

    <div id="supplierDetails" class="row mt-3 pb-3 border-bottom">
        <div class="col-md-6">
            <p class="mb-0">{{sdetails.zone}} <span class="text-info">{{sdetails.road}}</span> </p>
            <p class="mb-0">P.O BOX {{sdetails.postal}}</p>
        </div>
        <div class="col-md-6">
            <p class="mb-0">Phone: <span class="text-info">{{sdetails.phoneNumber}}</span></p>
            <p class="mb-0">Email: <span class="text-info">{{sdetails.emailSupplier}}</span></p>
        </div>
    </div>

    <div id="sContacts" class="mt-2 border-bottom pb-2"> 

        <div class="addingContacts pt-2" style="display: none;">
            <div>
                <h5 class="text-info">Adding Contacts</h5>
            </div>

            <div class="form-contact my-4 border pt-3 px-3">
                <form class="row"  id="contact-form"> 
                    {% csrf_token %}
                    <div class="input-group mb-3 col-md-6" hidden>
                        <div class="input-group-prepend">
                          <div class="input-group-text">Supplier</div>
                        </div>
                        <select name="supplier" id="supplier" class="form-control">
                            <option value="{{sdetails.id}}">{{sdetails.id}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Name</div>
                        </div>
                        <input type="text" class="form-control" id="contact-name" name="contact-name" placeholder="Name">
                    </div>
                    <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Phone Number</div>
                        </div>
                        <input type="number" class="form-control" id="contact-phone" name="contact-phone" placeholder="0700000000">
                    </div>
                    <div class="input-group mb-2 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Email</div>
                        </div>
                        <input type="text" class="form-control" id="contact-email" name="contact-email" placeholder="Email">
                    </div>
                    <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Position</div>
                        </div>
                        <select name="contact-position" id="contact-position" class="form-control">
                            <option value="1">Manager</option>
                            <option value="2">Sale's Person</option>
                            <option value="3">Cashier</option>
                            <option value="4">Accountant</option>
                            <option value="5">Other</option>
                        </select>
                    </div>
        
                    <div class="row justify-content-between col">
                        <div class="form-group mb-4 col-md-6">
                            <input type="submit" class="btn btn-outline-primary" value="Submit">
                        </div>

                        <div>
                            <small class="text-danger col close-Contact">[x] Close Form</small>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5 style="text-decoration: underline;">Supplier Contact Persons</h5>
            </div>

            <div class="col ">
                <p class="link float-right addContact">Add Contact Persons</p>
            </div>
        </div>

        <div class="table-responsive contactTable">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Position</th>
                    <th scope="col" >Delete</th>
                  </tr>
                </thead>
                <tbody class="contact-table">
                    {% for contact in contacts%}
                    <tr id="{{contact.id}}">
                        <th scope="row" class="rowCounter"></th>
                        <td>{{contact.name}}</td>
                        <td>{{contact.pNumber}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.position}}</td>
                        <td class="text-center"><button class="btm btn-danger btn-sm delete-button">X</button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

    <div id="sProducts" class="mt-2 border-bottom pb-2">
        <div class="productForm" style="display: none;">
            <div><h5 style="text-decoration: underline;">Adding Products</h5></div>
            <div id="product-form" class="my-4 border pt-3 px-3">
                <form class="row" class="productForm">
                    {% csrf_token %}
                    <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Category</div>
                        </div>
                        <select name="category" id="category" class="form-control">
                            <option value="1">ICT</option>
                            <option value="2">Electrical</option>
                            <option value="3">Plumbing</option>
                            <option value="4">MVM</option>
                            <option value="5">Hairdressing</option>
                            <option value="6">Woodwork</option>
                            <option value="7">Masonry</option>
                        </select>
                    </div>
                    <div class="input-group mb-2 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Name</div>
                        </div>
                        <input type="text" class="form-control" id="product-name" name="product-name" placeholder="Product Name">
                    </div>
                    <div class="input-group mb-2 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Brand</div>
                        </div>
                        <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">
                    </div>
        
                    <div class="input-group mb-2 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Price</div>
                        </div>
                        <input type="number" class="form-control" name="product-price" id="product-price" placeholder="Product Price">
                    </div>
        
                    <div class="input-group mb-3 col-md-6" hidden>
                        <div class="input-group-prepend">
                          <div class="input-group-text">Supplier</div>
                        </div>
                        <select name="supplierP" id="supplierP" class="form-control">
                            <option value="{{sdetails.id}}">{{sdetails.id}}</option>
                        </select>
                    </div>
                    
                    <div class="input-group mb-2 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Size</div>
                        </div>
                        <input type="number" class="form-control" id="size" name="size" placeholder="Box-Size">
                    </div>
        
                    <div class="input-group mb-2 col-md-6">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Weight</div>
                        </div>
                        <input type="number" class="form-control" name="weight" id="weight" placeholder="Weight in kg">
                    </div>
        
                    <div class="input-group mb-2 col">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Description</div>
                        </div>
                        <input type="text" class="form-control" name="description" id="description" placeholder="Product Description">
                    </div>
        
                    <div class="col-12 row justify-content-between">
                        <div class="form-group mb-4 col-md-6">
                            <input type="submit" class="btn btn-outline-primary" value="Submit">
                        </div>

                        <div>
                            <small class="text-danger close-Product">[x] Close Form</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5 style="text-decoration: underline;">Products Supplied</h5>
            </div>

            <div class="col">
                <p class="link float-right addProduct">Add Products</p>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Product</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Description</th>
                    <th scope="col" >Price</th>
                    <th scope="col" >Delete</th>
                  </tr>
                </thead>
                <tbody class="product-table">
                    {% for product in products %}
                    <tr id="{{product.id}}">
                        <th scope="row" class="rowCounter"></th>
                        <td>{{product.category}}</td>
                        <td>{{product.nameP}}</td>
                        <td>{{product.brand}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td class="text-center"><button class="btm btn-danger btn-sm delete-product">X</button></td>
                        <td class="text-center" hidden><button class="btm btn-success btn-sm">Add</button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        
        <div id="productList">
            {% for product in products %}
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start ">
                    <div class="row align-items-center ml-0">
                        <h2 class="mr-2">{{product.nameP}}</h2>
                        <h2 class="text-info">Price:{{product.price}} </h2>
                    </div>
                    <div class="row ml-0">
                        <p class="text-muted mr-3">Category: <a href="">{{product.category}}</a> </p>
                        <p class="text-muted">Brand: <a href="">{{product.brand}}</a> </p>
                    </div>
                    <p class="mb-1"> {{product.description}} </p>
                    <small class="link text-danger">Delete Product</small>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}