{% extends "network/layout.html" %}

{% block body %}
    <div id="currentUser1" data-currentuser={{user.username}}></div>
    <div class="container">
        <div id="posts"></div>
        {%if request.path == "/" %}
        {% if user.is_authenticated %}
        <div id="create" class="border p-3 mt-4">
            <div>
                <h2>New Post</h2>
            </div>
            <div id="post_form">
                <form id = "form">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="postArea" id="postContent" cols="10" rows="2" class="form-control" required></textarea>
                        <input class="btn btn-primary mt-2" type="submit" value="Post">
                    </div>
                </form>
            </div>
        </div>
        {%else%}
        <div class="mt-2">
            <h2><a href="{% url 'login' %}">Sign In </a> To post</h2>
        </div>
        {%endif%}
        {%endif%}

        {% if profile %}
        <div class="content-section card mt-4" id="profile" >
            <div class="media bg-light">
                <div class="media-body">
                    <div class="media-heading border-bottom m-2 row justify-content-between">
                        <h2>
                            <span id="posterUsername">{{profile.user}}</span>
                            <small><i>{{profile.usermail}}</i></small>
                        </h2>
                        <div class="justify-content-center">
                            {% if user != profile.user%}
                                {% if user.is_authenticated%}
                                <button id="followbutton" class="btn btn-primary rounded" data-idno="{{profile.id}}">{{displaybutton}}</button>
                                {%endif%}
                            {%endif%}
                        </div>
                    </div>
                    
                    <p class="row justify-content-around">
                        <span class="col-2"> <span id="followNo">{{ followers }} </span> Follewers </span>
                        <span class="col-2">{{ following }} Following</span>
                    </p>
                </div>
            </div>
        </div>
        {%endif%}

        <div id="display_posts" class="mt-4">
            {% for post in posts %}
            <div class="card mt-2" id="post{{post.id}}">
                <div id="postbody">
                    <div class="card-header">
                        <h3 class="media-heading">
                            <span id="posterUsername" data-idno="{{post.posterUsername}}" >{{post.posterUsername}}</span>
                            <small><i>{{post.dateTime}}</i></small>
                        </h3>
                    </div>
                    <div class="card-body mb-3">
                        <p id="postcontent">{{post.postContent}}</p>
                        <div class="row justify-content-between">
                            <div class="col-6 text-muted ml-0 row justify-content-between">
                                <p class="comments" onclick="showcomments('{{post.id}}')">Comments</p>
                                {% if user in post.likers.all %}
                                <p id="likediv"> 
                                    <span id="heartIcon" onclick="likepost('{{post.id}}')" class="red rounded-circle likedicon">&#x2665; </span> 
                                    <span id="likeno" class="red likedicon">{{post.like}}</span>
                                </p>
                                {%else%}
                                <p id="likediv"> 
                                    <span id="heartIcon" class="unlikedicon" onclick="likepost('{{post.id}}')">&#x2661; </span> 
                                    <span id="likeno" class="unlikedicon" >{{post.like}}</span>
                                </p>
                                {%endif%}
                            </div>
                            {% if user == post.posterUsername %}
                            <p class="link mr-3" id="editButton" onclick="editPost('{{post.id}}')">Edit</p>
                            {%endif%}
                        </div>
                        <div class="commentsSection">
                            <div id="commentslists"></div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

        {% if posts %}
        <div class="d-flex justify-content-center">
            <div>
            <div class="pagination ">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a class="btn btn-outline-info mt-4" href="{{ request.path }}?page=1">First</a>
                        <a class="btn btn-outline-info mt-4" href="{{ request.path }}?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        {% for num in posts.paginator.page_range %}
                            {% if posts.number == num %}
                                <a class="btn btn-info mt-4" href="{{ request.path }}?page={{ num }}">{{ num }}</a>
                            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                                <a class="btn btn-outline-info mt-4" href="{{ request.path }}?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
            
                    {% if posts.has_next %}
                        <a class="btn btn-outline-info mt-4" href="{{ request.path }}?page={{ posts.next_page_number }}">next</a>
                        <a class="btn btn-outline-info mt-4" href="{{ request.path }}?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <div id="pageNo" class="d-flex justify-content-center">
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
            </div>
        </div>
       {%else%}
       <div><h3>No Posts Available</h3></div>
       {%endif%}
        </div>
    </div>
    <div class="floatingButton">
        <a href="{% url 'index' %}">
            {% if user.is_authenticated %}
            <i>Add</i>
            {%else%}
            <i>Home</i>
            {%endif%}
        </a>
    </div>
{% endblock %}

