{% extends "network/layout.html" %}

{% block body %}
    <div class="container">
        <div id="create" class="border ">
            <div>
                <h2>New Post</h2>
            </div>
            <div id="post_form">
                <form action="" id = "form">
                    <div class="form-group">
                        <textarea name="postArea" id="postContent" cols="10" rows="2" class="form-control" ></textarea>
                        <input type="submit" value="Post">
                    </div>
                </form>
            </div>
        </div>

        <div id="posts"></div>

        <div id="profile" class="card">
            <h2>{{profileUser}}</h2>
            <p>Follewers {{ followers }}</p>
            <p>Follewers {{ following }}</p>
        </div>

        <div id="display_posts">
            {% for post in posts %}
            <div id="postItem" >
                <p id="posterUsername" data-idno="{{post.posterUsername}}"> {{post.posterUsername}}</p>
                <p>{{post.postContent }}</p>
                <p>{{post.dateTime}}</p>
                <p>{{post.like}}</p>
            </div>
            {%endfor%}
        </div>
       
    </div>
{% endblock %}