#postItem {
    border: 1px solid #dee2e6 !important;
}
#body1 {
    background-color: aqua;
}

.link {
    color: blue;
}

.link:hover {
    color: gray;
    border-bottom: 1px solid gray;
}

#heartIcon{
    font-size: 20px;
}

#likedive>#heartIcon:hover {
    box-shadow: 0px 0px 20px;
    font-size: 25px;
}